<?xml version="1.0" encoding="utf-8"?>
<Menu> Addis Abeba Restaurant Menü
	<Lunch> Mittag
		<NonVegetarian> Gerichte mit Fleisch
			<Dish>
				<Name> Doro Wot </Name>
				<Description>  </Description>
				<LongDescription> Äthiopisches Nationalgericht, Hähnchen in scharfer Soße mit äthiopischen Gewürzen, gekochtem Ei und bei Wunsch mit Frischkäse. Allergene: 1. 2. </LongDescription>
				<Price> €8,50 </Price>
				<Image> menu_doro_wot.jpg </Image>
			</Dish>
			
			<Dish>
				<Name> Kay Wot </Name>
				<Description>  </Description>
				<LongDescription> Zu Würfeln geschnittenes Rindfleisch in scharfer Soße, gewürzt mit äthiopischem Chilli. Allergene: 1. </LongDescription>
				<Price> €8,50 </Price>
				<Image> menu_yebere_wot.jpg </Image>
			</Dish>
			<Dish>
				<Name> Ye Beg Wot </Name>
				<Description>  </Description>
				<LongDescription> Zu Würfeln geschnittenes Schaffleisch in scharfer Soße, gewürzt mit äthiopischem Chilli. Allergene: 1. </LongDescription>
				<Price> €8,50 </Price>
				<Image> menu_yebeg_wot.jpg </Image>
			</Dish>
			<Dish>
				<Name> Bozena Shiro </Name>
				<Description>  </Description>
				<LongDescription> Milde Soße aus Kichererbsenmehl mit Rindfleischstückchen und Zwiebeln. Allergene: 1. </LongDescription>
				<Price> €9,50 </Price>
				<Image> menu_bozena_shiro.jpg </Image>
			</Dish>
			<Dish>
				<Name> Yebere Tibs </Name>
				<Description> </Description>
				<LongDescription> Gebratene Rindfleischstückchen gedünstet mit äthiopischen Gewürzen, Tomaten, Zwiebeln, grüner Chilli und Rosmarin. Allergene: 1. </LongDescription>
				<Price> €9,50 </Price>
				<Image> menu_yebere_tibs.jpg </Image>
			</Dish>
			<Dish>
				<Name> Yebeg Tibs </Name>
				<Description>  </Description>
				<LongDescription> Gebratene Schaffleischstückchen gedünstet in Butter mit äthiopischen Gewürzen, Tomaten, Zwiebeln, grüner Chilli und Rosmarin. Allergene: 1. </LongDescription>
				<Price> €9,00 </Price>
				<Image> menu_yebeg_tibs.jpg </Image>
			</Dish>
			<Dish>
				<Name> Ruz Be Siga </Name>
				<Description> </Description>
				<LongDescription> Reis oder Couscous mit geschnittenen Rindfleischstückchen und milder Soße. Allergene: -  </LongDescription>
				<Price> €8,50 </Price>
				<Image> menu_ruz_besiga.jpg </Image>
			</Dish>
		</NonVegetarian>
		
		<Vegetarian>Vegetarische Gerichte
			<Dish>
				<Name> Alicha </Name>
				<Description>  </Description>
				<LongDescription> Gericht aus Weißkohl, Aubergine, Möhren und Zwiebeln. Allergene: 1.   </LongDescription>
				<Price> €8,50 </Price>
				<Image> menu_alicha.jpg </Image>
			</Dish>
			<Dish>
				<Name> Shiro </Name>
				<Description>  </Description>
				<LongDescription> Milde Soße aus Kichererbsenmehl, Zwiebeln, Tomaten und Salat. Allergene: 1.  </LongDescription>
				<Price> €8,00 </Price>
				<Image> menu_shiro.jpg </Image>
			</Dish>
			<Dish>
				<Name> Messir Wot </Name>
				<Description> (wenig scharf) </Description>
				<LongDescription> Äthiopisches Linsengericht. Allergene: 1.   </LongDescription>
				<Price> €8,00 </Price>
				<Image> menu_yemisir_wot.jpg </Image>
			</Dish>
			<Dish>
				<Name> Ruz Beatekilt  </Name>
				<Description>  </Description>
				<LongDescription> Reis oder Couscous mit verschiedenen Gemüse und Salat. Allergene: -  </LongDescription>
				<Price> €8,00 </Price>
				<Image> menu_ruz_beatekilt.jpg </Image>
			</Dish>
		</Vegetarian>
	</Lunch>

	<Dinner>Abend
		<NonVegetarian> Gerichte mit Fleisch
			<Dish>
				<Name> 1. Doro Wot </Name>
				<Description>  </Description>
				<LongDescription> Äthiopisches Nationalgericht, Hähnchen in scharfer Soße mit äthiopischen Gewürzen, gekochtem Ei und bei Wunsch mit Frischkäse. Allergene: 1. 2. </LongDescription>
				<Price> €17,20 </Price>
				<Image> menu_doro_wot.jpg </Image>
			</Dish>
			
			<Dish>
				<Name> 2. Kay Wot </Name>
				<Description>  </Description>
				<LongDescription> Zu Würfeln geschnittenes Rindfleisch in scharfer Soße, gewürzt mit äthiopischem Chilli. Allergene: 1. </LongDescription>
				<Price> €16,50 </Price>
				<Image> menu_yebere_wot.jpg </Image>
			</Dish>
			<Dish>
				<Name> 3. Ye Beg Wot </Name>
				<Description>  </Description>
				<LongDescription> Zu Würfeln geschnittenes Schaffleisch in scharfer Soße, gewürzt mit äthiopischem Chilli. Allergene: 1. </LongDescription>
				<Price> €17,20 </Price>
				<Image> menu_yebeg_wot.jpg </Image>
			</Dish>
			<Dish>
				<Name> 4. Bozena Shiro </Name>
				<Description>  </Description>
				<LongDescription> Milde Soße aus Kichererbsenmehl mit Rindfleischstückchen und Zwiebeln. Allergene: 1. </LongDescription>
				<Price> €13,90 </Price>
				<Image> menu_bozena_shiro.jpg </Image>
			</Dish>
			<Dish>
				<Name> 7. Yebere Tibs </Name>
				<Description> </Description>
				<LongDescription> Gebratene Rindfleischstückchen gedünstet mit äthiopischen Gewürzen, Tomaten, Zwiebeln, grüner Chilli und Rosmarin. Allergene: 1. </LongDescription>
				<Price> €16,50 </Price>
				<Image> menu_yebere_tibs.jpg </Image>
			</Dish>
			<Dish>
				<Name> 8. Yebeg Tibs </Name>
				<Description>  </Description>
				<LongDescription> Gebratene Schaffleischstückchen gedünstet in Butter mit äthiopischen Gewürzen, Tomaten, Zwiebeln, grüner Chilli und Rosmarin. Allergene: 1. </LongDescription>
				<Price> €17,90 </Price>
				<Image> menu_yebeg_tibs.jpg </Image>
			</Dish>
			<Dish>
				<Name> 10. Ruz Be Siga </Name>
				<Description> </Description>
				<LongDescription> Reis oder Couscous mit geschnittenen Rindfleischstückchen und milder Soße. Allergene: -  </LongDescription>
				<Price> €16,20 </Price>
				<Image> menu_ruz_besiga.jpg </Image>
			</Dish>
			<Dish>
				<Name> 11. Beyeaynet </Name>
				<Description>  </Description>
				<LongDescription> Probierteller mit verschiedenen Fleischsoßen. Allergene: 1.  </LongDescription>
				<Price> €18,20 </Price>
				<Image> yeatekilt_beyanetu.jpg </Image>
			</Dish>
		</NonVegetarian>
		
		<Vegetarian>Vegetarische Gerichte
			<Dish>
				<Name> 21. Alicha </Name>
				<Description>  </Description>
				<LongDescription> Gericht aus Weißkohl, Aubergine, Möhren und Zwiebeln. Allergene: 1.   </LongDescription>
				<Price> €13,50 </Price>
				<Image> menu_alicha.jpg </Image>
			</Dish>
			<Dish>
				<Name> 22. Shiro </Name>
				<Description>  </Description>
				<LongDescription> Milde Soße aus Kichererbsenmehl, Zwiebeln, Tomaten und Salat. Allergene: 1.  </LongDescription>
				<Price> €12,50 </Price>
				<Image> menu_shiro.jpg </Image>
			</Dish>
			<Dish>
				<Name> 23. Messir Wot </Name>
				<Description> (wenig scharf) </Description>
				<LongDescription> Äthiopisches Linsengericht. Allergene: 1.   </LongDescription>
				<Price> €13,50 </Price>
				<Image> menu_yemisir_wot.jpg </Image>
			</Dish>
			<Dish>
				<Name> 24. Ruz Beatekilt  </Name>
				<Description>  </Description>
				<LongDescription> Reis oder Couscous mit verschiedenen Gemüse und Salat. Allergene: -  </LongDescription>
				<Price> €13,50 </Price>
				<Image> menu_ruz_beatekilt.jpg </Image>
			</Dish>			
			<Dish>
				<Name> 25. Yeatekilt Beyeaynet </Name>
				<Description> Für 1 Person </Description>
				<LongDescription> Probierteller mit verschiedenen vegitarischen soßen. Allergene: 1.  </LongDescription>
				<Price> €16,20 </Price>
				<Image> menu_yetsom_beyeaynet.jpg </Image>
			</Dish>
		</Vegetarian>
		<Probierteller>Probierplatten
			<Dish>
				<Name> 41. Mahiberawi für 2 Person </Name>
				<Description>  </Description>
				<LongDescription> Probierteller mit verschiedenen Fleischsoßen und vegitarischen Soßen. Allergene: 1. 2. </LongDescription>
				<Price> €35,00 </Price>
				<Image> menu_mahiberawi.jpg </Image>
			</Dish>
			<Dish>
				<Name> 42. Mahiberawi für 4 Person </Name>
				<Description>  </Description>
				<LongDescription> Probierteller mit verschiedenen Fleischsoßen und vegitarischen Soßen.  Allergene: 1. 2.  </LongDescription>
				<Price> €65,00 </Price>
				<Image> menu_mahiberawi.jpg </Image>
			</Dish>
			<Dish>
				<Name> 43. Yeatekilt Beyeaynet für 2 Person </Name>
				<Description>  </Description>
				<LongDescription> Probierteller mit verschiedenen vegitarischen Soßen. Allergene: 1.  </LongDescription>
				<Price> €31,00 </Price>
				<Image> menu_yetsom_beyeaynet.jpg </Image>
			</Dish>
			<Dish>
				<Name> 44. Yeatekilt Beyeaynet für 4 Person</Name>
				<Description>  </Description>
				<LongDescription> Probierteller mit verschiedenen vegitarischen Soßen. Allergene: 1.  </LongDescription>
				<Price> €59,00 </Price>
				<Image> menu_yetsom_beyeaynet.jpg </Image>
			</Dish>
		</Probierteller>	
		<Dessert>Dessert
			<Dish>
				<Name> 81. Joghurt mit Honig </Name>
				<Description>  </Description>
				<LongDescription> Naturjoghurt mit Honig, Walnüssen und Haselnusskrokant.  Allergene: 3. 4. 5. </LongDescription>
				<Price> €4,50 </Price>
				<Image> menu_joghort_honig.jpg </Image>
			</Dish>
			<Dish>
				<Name> 82. Joghurt mit Kirschen </Name>
				<Description>  </Description>
				<LongDescription> Naturjoghurt mit Kirschen, Walnüssen und Haselnusskrokant.  Allergene: 1. 2.  </LongDescription>
				<Price> €4,50 </Price>
				<Image> menu_joghort_kirche.jpg </Image>
			</Dish>
		</Dessert>		
	</Dinner>
	
	
	<Drinks>Getränke
		<WarmDrinks> Warme Getränke
			<Drink>
				<Name> Buna für 1 Person </Name>
				<Description> </Description>
				<LongDescription> Traditionaeller äthiopischer Kaffee serviert in einer äthiopischen Kaffekanne. Allergene: -  Zusatzstoffe: g.  </LongDescription>
				<Price> €3,60 </Price>
				<Image> menu_buna_for_1_person.jpg </Image>
			</Drink>
			<Drink>
				<Name> Buna für 2 Personen </Name>
				<Description>  </Description>
				<LongDescription> Traditionaeller äthiopischer Kaffee serviert in einer äthiopischen Kaffekanne. Allergene: -  Zusatzstoffe: g.  </LongDescription>
				<Price> €6,80 </Price>
				<Image> menu_buna_for_2_person.jpg </Image>
			</Drink>
			<Drink>
				<Name> Äthiopischer Machiato Einfach </Name>
				<Description>  </Description>
				<LongDescription> Äthiopischer Kaffee mit Milch. Allergene: 4.  Zusatzstoffe: g.  </LongDescription>
				<Price> €3,20 </Price>
				<Image> menu_machiato.jpg </Image>
			</Drink>	
			<Drink>
				<Name> Äthiopischer Machiato Doppelt </Name>
				<Description>  </Description>
				<LongDescription> Äthiopischer Kaffee mit Milch. Allergene: 4.  Zusatzstoffe: g.  </LongDescription>
				<Price> €4,20 </Price>
				<Image> menu_machiato.jpg </Image>
			</Drink>
			<Drink>
				<Name> Espresso Einfach </Name>
				<Description>   </Description>
				<LongDescription> Espresso Einfach. Allergene: -  Zusatzstoffe: g. </LongDescription>
				<Price> €2,20 </Price>
				<Image> menu_espresso.jpg </Image>
			</Drink>	
			<Drink>
				<Name> Espresso Doppelt </Name>
				<Description>   </Description>
				<LongDescription> Espresso Doppelt. Allergene: -  Zusatzstoffe: g.  </LongDescription>
				<Price> €3,10 </Price>
				<Image> menu_espresso.jpg </Image>
			</Drink>
			<Drink>
				<Name> Chai </Name>
				<Description>   </Description>
				<LongDescription> Schwarztee mit Gewürzen. Allergene: -  Zusatzstoffe: g.  </LongDescription>
				<Price> €2,90 </Price>
				<Image> menu_tea.jpg </Image>
			</Drink>
			<Drink>
				<Name> Ingwer Chai </Name>
				<Description>  </Description>
				<LongDescription> mit frischem Ingwer. Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €3,10 </Price>
				<Image> menu_gingar_tea.jpg </Image>
			</Drink>
			<Drink>
				<Name> Chai Espries</Name>
				<Description>   </Description>
				<LongDescription> Schwarztee mit Kaffee. Allergene: -  Zusatzstoffe: g.  </LongDescription>
				<Price> €3,20 </Price>
				<Image> menu_tea_coffee_esprise.jpg </Image>
			</Drink>
			<Drink>
				<Name> Haustee </Name>
				<Description>  </Description>
				<LongDescription> Ingwer, Orangen, Schwarztee, Honig, 4cl Rum. Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €6,20 </Price>
				<Image> menu_house_tea.jpg </Image>
			</Drink>
		</WarmDrinks>	
		

		<SoftDrinks>Alkoholfreie Getränke
			<Drink>
				<Name> Miniral Wasser (Still/Classic) (Flasche) </Name>
				<Description> Miniral Wasser (Still/Classic) (Flasche) </Description>
				<LongDescription> Miniral Wasser (Still/Classic) (Flasche). Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €5,50 </Price>
				<Image> menu_miniral_water.jpg </Image>
			</Drink>
			<Drink>
				<Name> Miniral Wasser (Still/Classic) (0,4l) </Name>
				<Description> Miniral Wasser (Still/Classic) (0,4l) </Description>
				<LongDescription> Miniral Wasser (Still/Classic) (0,4l). Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €3,20 </Price>
				<Image> menu_miniral_water.jpg </Image>
			</Drink>	
			<Drink>
				<Name> Miniral Wasser (Still/Classic) (0,2l) </Name>
				<Description> Miniral Wasser (Still/Classic) (0,2l) </Description>
				<LongDescription> Miniral Wasser (Still/Classic) (0,2l). Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €1,90 </Price>
				<Image> menu_miniral_water.jpg </Image>
			</Drink>
			<Drink>
				<Name> Coca Cola (0,2l) </Name>
				<Description>  </Description>
				<LongDescription> Coca Cola (0,2l). Allergene: -  Zusatzstoffe: a. d. f. g.  </LongDescription>
				<Price> €2,80 </Price>
				<Image> menu_coca.jpg </Image>
			</Drink>
			<Drink>
				<Name> Coca Cola (0,4l) </Name>
				<Description>   </Description>
				<LongDescription> Coca Cola (0,4l). Allergene: -  Zusatzstoffe: a. d. f. g.  </LongDescription>
				<Price> €4,20 </Price>
				<Image> menu_coca.jpg </Image>
			</Drink>
			<Drink>
				<Name> Sprite (0,2l) </Name>
				<Description>   </Description>
				<LongDescription> Sprite (0,2l). Allergene: -  Zusatzstoffe: f.  </LongDescription>
				<Price> €2,80 </Price>
				<Image> menu_sprite.jpg </Image>
			</Drink>
			<Drink>
				<Name> Sprite (0,4l) </Name>
				<Description>   </Description>
				<LongDescription> Sprite (0,4l). Allergene: -  Zusatzstoffe: f.  </LongDescription>
				<Price> €4,20 </Price>
				<Image> menu_sprite.jpg </Image>
			</Drink>
			<Drink>
				<Name> Fanta (0,2l) </Name>
				<Description>   </Description>
				<LongDescription> Fanta (0,2l). Allergene: -  Zusatzstoffe: a. b. f.  </LongDescription>
				<Price> €2,80 </Price>
				<Image> menu_fanta.jpg </Image>
			</Drink>
			<Drink>
				<Name> Fanta (0,4l) </Name>
				<Description>   </Description>
				<LongDescription> Fanta (0,4l). Allergene: -  Zusatzstoffe: a. b. f.  </LongDescription>
				<Price> €4,20 </Price>
				<Image> menu_fanta.jpg </Image>
			</Drink>
			<Drink>
				<Name> Saft (Apfel/ Orangen/ Kirsch/ Multivitamin) (0,2l) </Name>
				<Description> Saft (Apfel/ Orangen/ Kirsch/ Multivitamin) (0,2l) </Description>
				<LongDescription> Saft (Apfel/ Orangen/ Kirsch/ Multivitamin) (0,2l). Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €3,10 </Price>
				<Image> menu_saft.jpg </Image>
			</Drink>
			<Drink>
				<Name> Saft (Apfel/ Orangen/ Kirsch/ Multivitamin) (0,4l) </Name>
				<Description> Saft (Apfel/ Orangen/ Kirsch/ Multivitamin) (0,4l) </Description>
				<LongDescription> Saft (Apfel/ Orangen/ Kirsch/ Multivitamin) (0,4l). Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €4,60 </Price>
				<Image> menu_saft.jpg </Image>
			</Drink>
			<Drink>
				<Name> Saftschorlen (Apfel/ Orangen/ Kirsch/ Multivitamin) (0,2l) </Name>
				<Description> Saftschorlen (pfel/ Orangen/ Kirsch/ Multivitamin) (0,2l) </Description>
				<LongDescription> Saftschorlen (Apfel/ Orangen/ Kirsch/ Multivitamin) (0,2l). Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €2,80 </Price>
				<Image> menu_saft.jpg </Image>
			</Drink>
			<Drink>
				<Name> Saftschorlen (Apfel/ Orangen/ Kirsch/ Multivitamin) (0,4l) </Name>
				<Description> Saftschorlen (Apfel/ Orangen/ Kirsch/ Multivitamin) (0,4l) </Description>
				<LongDescription> Saftschorlen (Apfel/ Orangen/ Kirsch/ Multivitamin) (0,4l). Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €4,20 </Price>
				<Image> menu_saft.jpg </Image>
			</Drink>
		</SoftDrinks>
		
		<Bier>Bier
			<Drink>
				<Name> Äthiopisches Bier </Name>
				<Description> Glas 0,5l  </Description>
				<LongDescription> Glas 0,3l. Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €4,90 </Price>
				<Image> menu_beer_glass.jpg </Image>
			</Drink>
			<Drink>
				<Name> Augustiner Helles </Name>
				<Description> Glas 0,5l  </Description>
				<LongDescription> Augustiner Helles. Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €4,20 </Price>
				<Image> menu_beer_glass.jpg </Image>
			</Drink>
			<Drink>
				<Name> Lammsbräu </Name>
				<Description> Glas 0,5l  </Description>
				<LongDescription> Lammsbräu. Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €4,20 </Price>
				<Image> menu_beer_glass.jpg </Image>
			</Drink>
			<Drink>
				<Name> Becks Alcholfrei </Name>
				<Description> Glas 0,5l  </Description>
				<LongDescription> Becks Alcholfrei. Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €4,20 </Price>
				<Image> menu_beer_glass.jpg </Image>
			</Drink>
			<Drink>
				<Name> Hefeweizen </Name>
				<Description> Glas 0,5l  </Description>
				<LongDescription> Hefeweizen. Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €4,20 </Price>
				<Image> menu_beer_glass.jpg </Image>
			</Drink>
			<Drink>
				<Name> Hefeweizen Dunkel </Name>
				<Description> Glas 0,5l  </Description>
				<LongDescription> Hefeweizen Dunkel. Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €4,20 </Price>
				<Image> menu_beer_glass.jpg </Image>
			</Drink>
			<Drink>
				<Name> Hefeweizen Alcholfrei </Name>
				<Description> Glas 0,5l  </Description>
				<LongDescription> Hefeweizen Alcholfrei. Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €4,20 </Price>
				<Image> menu_beer_glass.jpg </Image>
			</Drink>
			<Drink>
				<Name> Radler </Name>
				<Description> Glas 0,5l  </Description>
				<LongDescription> Radler. Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €4,20 </Price>
				<Image> menu_beer_glass.jpg </Image>
			</Drink>
		</Bier>

		<Wein>Wein
			<Drink>
				<Name> Hauswein Rot  </Name>
				<Description> Hauswein Rot (0,25l Glas trocken )  </Description>
				<LongDescription> Hauswein Rot (0,25l Glas trocken ). Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €5,10 </Price>
				<Image> menu_red_wein.jpg </Image>
			</Drink>
			<Drink>
				<Name> Hauswein Rot  </Name>
				<Description> Hauswein Rot (Flasche trocken )  </Description>
				<LongDescription> Hauswein Rot (Flasche trocken ). Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €14,90 </Price>
				<Image> menu_red_wein.jpg </Image>
			</Drink>
			<Drink>
				<Name> Hauswein Weiß  </Name>
				<Description> Hauswein Weiß (0,25l Glas trocken )  </Description>
				<LongDescription> Hauswein Weiß (0,25l Glas trocken ). Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €5,10 </Price>
				<Image> menu_white_wein.jpg </Image>
			</Drink>
			<Drink>
				<Name> Hauswein Weiß  </Name>
				<Description> Hauswein Weiß (Flasche trocken )  </Description>
				<LongDescription> Hauswein Weiß (Flasche trocken ). Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €14,90 </Price>
				<Image> menu_white_wein.jpg </Image>
			</Drink>			
		</Wein>
		
        <Spirituosen>Spirituosen
			<Drink>
				<Name> Amarula  </Name>
				<Description> Amarula (2cl Glas )  </Description>
				<LongDescription> Amarula (2cl Glas ) . Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €3,90 </Price>
				<Image> menu_alchol_glass.jpg </Image>
			</Drink>
			<Drink>
				<Name> Amarula  </Name>
				<Description> Amarula (4cl Glas )  </Description>
				<LongDescription> Amarula (4cl Glas ) . Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €4,70 </Price>
				<Image> menu_alchol_glass.jpg </Image>
			</Drink>
			<Drink>
				<Name> Williams Christ Birne  </Name>
				<Description> Williams Christ Birne (2cl Glas )  </Description>
				<LongDescription> Williams Christ Birne (2cl Glas ) . Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €3,90 </Price>
				<Image> menu_alchol_glass.jpg </Image>
			</Drink>
			<Drink>
				<Name> Williams Christ Birne  </Name>
				<Description> Williams Christ Birne (4cl Glas )  </Description>
				<LongDescription> Williams Christ Birne (4cl Glas ) . Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €4,70 </Price>
				<Image> menu_alchol_glass.jpg </Image>
			</Drink>
			<Drink>
				<Name> Havana Club Rum  </Name>
				<Description> Havana Club Rum (2cl Glas )  </Description>
				<LongDescription> Havana Club Rum (2cl Glas ) . Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €3,90 </Price>
				<Image> menu_alchol_glass.jpg </Image>
			</Drink>
			<Drink>
				<Name> Havana Club Rum  </Name>
				<Description> Havana Club Rum (4cl Glas )  </Description>
				<LongDescription> Havana Club Rum (4cl Glas ) . Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €4,70 </Price>
				<Image> menu_alchol_glass.jpg </Image>
			</Drink>
			<Drink>
				<Name> Grappa  </Name>
				<Description> Havana Club Rum (2cl Glas )  </Description>
				<LongDescription> Havana Club Rum (2cl Glas ) . Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €3,90 </Price>
				<Image> menu_alchol_glass.jpg </Image>
			</Drink>
			<Drink>
				<Name> Grappa  </Name>
				<Description> Havana Club Rum (4cl Glas )  </Description>
				<LongDescription> Havana Club Rum (4cl Glas ) . Allergene: -  Zusatzstoffe: -  </LongDescription>
				<Price> €4,70 </Price>
				<Image> menu_alchol_glass.jpg </Image>
			</Drink>				
		</Spirituosen>		
	</Drinks>
</Menu>	